
@model ToroCreativo.ViewModels.Usuario.CambioContraseñaViewModel

@{
    Layout = null;
}

<div class="container">
    <div class="formularioPedido">
        <div class="row">
            <div class="col-md-12">
                <form asp-action="CambiarContraseña">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="PasswordAntigua" class="control-label"></label><span class="requerido">*</span>
                                <input asp-for="PasswordAntigua" class="form-control" id="PasswordAntigua"/>
                                <span asp-validation-for="PasswordAntigua" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="PasswordNueva" class="control-label"></label><span class="requerido">*</span>
                                <input asp-for="PasswordNueva" class="form-control" id="PasswordNueva"/>
                                <span asp-validation-for="PasswordNueva" class="text-danger"></span>
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <label asp-for="ConfirmarPasswordNueva" class="control-label"></label><span class="requerido">*</span>
                        <input asp-for="ConfirmarPasswordNueva" class="form-control" id="ConfirmarPasswordNueva"/>
                        <span asp-validation-for="ConfirmarPasswordNueva" class="text-danger"></span>
                    </div>
                    <div class="row botones">
                        <button id="cambiarContraseña" class="btn col-7 confirmar">Cambiar Contraseña</button>
                        <button class="btn col-4 cancelar" data-dismiss="modal">Cancelar</button>
                    </div>                    
                </form>
            </div>
        </div>
    </div>
</div>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
