@model ToroCreativo.ViewModels.Usuario.ForgotPasswordViewModel
@{ 
    Layout = null;
}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/lib/limonte-sweetalert2/sweetalert2.min.css" />
    <link href="~/css/restablecer-contraseña.css" rel="stylesheet">
    <title>Cambio de contraseña</title>
</head>

<body>
    <div class="container">
        <div class="registro">
            <h1>Restablecer Contraseña</h1>
            <p>
                Ingrese el correo electrónico registrado y se le enviará un
                enlace para restablecer su contraseña.
            </p>
            <form asp-action="ForgotPassword">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="email" asp-for="Email" class="form-control" placeholder="Correo" required autofocus>
                <span asp-validation-for="Email" class="text-danger"></span>
                <div class="wrap-login-form-btn">
                    <div class="login-form-bgbtn"></div>
                    <button type="submit" name="validar" class="login-form-btn">Enviar enlace al correo</button>
                </div>
            </form>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/limonte-sweetalert2/sweetalert2.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>

          @if(TempData["Existe"] != null && TempData["Existe"].ToString().Equals("no")) {
            <text>

                Swal.fire({
                    icon: 'error',
                    title: 'Correo ingresado no existe',
                    html: 'Por favor ingrese el correo de su cuenta de usuario'

                  });

                 </text>
        }
          
          @if(TempData["Existe"] != null && TempData["Existe"].ToString().Equals("si")) {
            <text>

        Swal.fire({
                    icon: 'success',
                    title: 'Enlace enviado',
                    html: 'Se le ha enviado un enlace de restrablecimiento de contraseña al correo ingresado',
                    showConfirmButton: true,
                    confirmButtonColor: '#6c5ce7',
                    confirmButtonText: 'Volver al inicio de sesión',
                    allowOutsideClick: () => {                
                        return false     
                    }}).then((result) => {
                        window.location.href = "/Usuarios/Login";
                    });             
            </text>
        }
       
    </script>
</body>
</html>