@model ToroCreativo.ViewModels.Usuario.LoginViewModel
@{
    Layout = null;

}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inicio Sesión</title>   
    <link rel="stylesheet" href="~/lib/limonte-sweetalert2/sweetalert2.min.css"  />
    <link rel="stylesheet" href="~/css/login.css" />
     
</head>

<body>
    <div class="container" id="container">
        <div class="registro">
            <h2>¿No tienes cuenta?</h2>
            <p>Crea tu cuenta y has parte de la familia de Toro Creativo</p>
            <a class="ghost" asp-action="Registrar">Registrarme</a>
        </div>
        <div class="form-container">
            <form method="post" asp-action="Login">
                <h1>Iniciar Sesión</h1>
                <input asp-for="Email" type="email" placeholder="Correo" />
                <span asp-validation-for="Email" class="text-validation"></span>
                <input asp-for="Password" type="password" placeholder="Contraseña" />
                <span asp-validation-for="Password" class="text-validationr"></span>

                    <a asp-action="ForgotPassword">¿Olvidó su contraseña?</a>

                <button type="submit">Iniciar Sesión</button>
            </form>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/limonte-sweetalert2/sweetalert2.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>

         @if(TempData["Invalido"] != null && TempData["Invalido"].ToString().Equals("si")) {
            <text>

                Swal.fire({
                    icon: 'error',
                    title: 'El correo y/o la contraseña son incorrectos'

                  });

                 </text>
        }
          @if(TempData["SinConfirmar"] != null && TempData["SinConfirmar"].ToString().Equals("si")) {
            <text>

                Swal.fire({
                    icon: 'error',
                    title: 'No se ha confirmado el correo',
                    html: 'La cuenta no ha sido confirmada, debe de ingresar al correo electronico registrado y por favor confirmar el mensaje enviado'

                  });

                 </text>
        }
         @if(TempData["Crear"] != null && TempData["Crear"].ToString().Equals("si")) {
            <text>

                Swal.fire({
                    icon: 'success',
                    title: '¡Se ha registrado exitosamente!',
                    html: 'Te damos la bienvenido a la familia Toro Creativo',
                    showConfirmButton: true,
                }).then((result) => {
                    if (result.isConfirmed) {
                        Swal.fire({
                            icon: 'info',
                            title: '¡Confirmación Enviada!',
                            html: 'Hemos enviado una confirmación al correo electrónico registrado, por favor confirmar el mensaje',
                            showConfirmButton: true,

                        })
                    }
                });
                 </text>
        }
           @if(TempData["EmailConfirmado"] != null && TempData["EmailConfirmado"].ToString().Equals("si")) {
            <text>

                Swal.fire({
                    icon: 'success',
                    title: 'Correo Confirmado',
                    html: 'Gracias por confirmar el correo electrónico, su cuenta esta lista para ser usada'
                  });

                 </text>
        }
        
    </script>
</body>
</html>

