@model ToroCreativo.ViewModels.Usuario.ResetPasswordViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/lib/limonte-sweetalert2/sweetalert2.min.css" />
    <link href="~/css/restablecer-contraseña.css" rel="stylesheet">
    <title>Cambiar Contraseña</title>
</head>
<body>
    <div class="container">
        <div class="registrar-container">
            <div class="registro">
                <h1>Restablecer Contraseña</h1>
                <form asp-action="ResetPassword">
                    <div asp-validation-summary="All" class="text-danger"></div>

                    <input asp-for="Password" class="form-control" placeholder="Nueva Contraseña" />
                    <span asp-validation-for="Password" class="text-danger"></span>

                    <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirmar Contraseña" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

                    <input type="hidden" asp-for="Email" class="form-control" />
                    <input type="hidden" asp-for="Token" class="form-control" />
                    <div class="wrap-login-form-btn">
                        <button type="submit" name="validar" class="login-form-btn">Cambiar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/limonte-sweetalert2/sweetalert2.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>

          @if(TempData["Existe"] != null && TempData["Existe"].ToString().Equals("no")) {
            <text>

                Swal.fire({
                    icon: 'error',
                    title: 'Correo ingresado no existe',
                    html: 'Por favor ingrese el correo de su cuenta de usuario'

                  });

                 </text>
        }

          @if(TempData["CambioContraseña"] != null && TempData["CambioContraseña"].ToString().Equals("si")) {
            <text>

                     Swal.fire({
                        icon: 'success',
                        title: 'Cambio de contraseña',
                        html: 'La contraseña de su cuenta fue cambiada correctamente',
                        showConfirmButton: true,
                        confirmButtonColor: '#6c5ce7',
                        confirmButtonText: 'Volver al inicio de sesión',
                        allowOutsideClick: () => {
                            return false
                    }}).then((result) => {
                        window.location.href = "/Usuarios/Login";
                    });
            </text>
        }

    </script>
</body>
</html>