@model ToroCreativo.Models.Entities.Generos

@{
    ViewData["Title"] = ViewData["CrearEditar"];
}


<h2>@ViewData["CrearEditar"] Género</h2>
<hr />
<div class="col-5">
    <form asp-action="CrearEditarGenero">
        <input type="hidden" asp-for="idGenero" readonly />
        <div class="form-group">
            <label asp-for="Nombre" class="control-label"></label>
            <input asp-for="Nombre" class="form-control" placeholder="Nombre Género" />
            <span asp-validation-for="Nombre" class="text-danger"></span>
        </div>
        <input asp-for="Estado" type="hidden" class="form-control" readonly />

        <div class="form-group">
            <div class="row">
                <div class="col-8">
                    @if (Model.idGenero == 0)
                    {
                        <button type="submit" class="btn btn-primary btn-block">Guardar</button>
                    }
                    else
                    {
                        <button type="submit" class="btn btn-warning btn-block">Editar</button>
                    }
                </div>
                <div class="col-4">
                    <a asp-action="Index" class="btn btn-secondary btn-block">Volver</a>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <script>
         @if(TempData["Repetido"] != null && TempData["Repetido"].ToString().Equals("si")) {
            <text>

                Swal.fire({
                    icon: 'error',
                    title: 'No se puede realizar la acción',
                    html: 'El nombre del género ya se encuentra en uso, por favor ingrese otro nombre'
                  });

                 </text>
        }
    </script>
}
