@{
    ViewData["Title"] = "- Admin";
}

<link rel="stylesheet" href="~/css/inicio_admin.css" />
<div class="titulo">
    <h1>Sistema Administrativo <span>Inicio</span> </h1>
</div>

<div class="items">
    <div class="item">
        <div class="imagen">
            <img src="~/img/torito.png" alt="" class="item-img">
        </div>
        <div class="item-text">
            <h4>Usuarios</h4>
            <p>@ViewBag.Usuarios</p>
        </div>
    </div>
    <div class="item">
        <div class="imagen">
            <img src="~/img/torito.png" alt="" class="item-img">
        </div>
        <div class="item-text">
            <h4>Productos</h4>
            <p>5</p>
        </div>
    </div>
    <div class="item">
        <div class="imagen">
            <img src="~/img/torito.png" alt="" class="item-img">
        </div>
        <div class="item-text">
            <h4>Ilustraciones</h4>
            <p>7</p>
        </div>
    </div>
    <div class="item">
        <div class="imagen">
            <img src="~/img/torito.png" alt="" class="item-img">
        </div>
        <div class="item-text">
            <h4>Pedidos</h4>
            <p>4</p>
        </div>
    </div>
    <div class="item">
        <div class="imagen">
            <img src="~/img/torito.png" alt="" class="item-img">
        </div>
        <div class="item-text">
            <h4>Ventas</h4>
            <p>2</p>
        </div>
    </div>
</div>

