    @{
        ViewData["Title"] = "Index";
    }
    @section Styles {
        <link rel="stylesheet" href="~/css/informes.css" />
    }


    <div class="titulo">
        <h1>Sistema Administrativo <span>Informes</span> </h1>
    </div>

    <div class="menu-informes">
        <div class="menu-items">
            <div class="titulo-informe">
                <h4><i class="fas fa-gifts"></i>Informes de productos más pedidos</h4>
            </div>
            <a asp-action="InformesProductos" asp-route-tipoInforme="1">Ver Informes diario</a>
            <a asp-action="InformesProductos" asp-route-tipoInforme="2">Ver Informes semanal</a>
            <a asp-action="InformesProductos" asp-route-tipoInforme="3">Ver Informes mensual</a>
        </div>
        <div class="menu-items">
            <div class="titulo-informe">
                <h4><i class="fas fa-cubes"></i>Informes de categorias más pedidas</h4>
            </div>
            <a asp-action="InformesCategorias" asp-route-tipoInforme="1">Ver Informes diario</a>
            <a asp-action="InformesCategorias" asp-route-tipoInforme="2">Ver Informes semanal</a>
            <a asp-action="InformesCategorias" asp-route-tipoInforme="3">Ver Informes mensual</a>
        </div>
        <div class="menu-items">
            <div class="titulo-informe">
                <h4><i class="fas fa-coins"></i>Informes de ventas</h4>
            </div>
            <a asp-action="InformesVentas" asp-route-tipoInforme="1">Ver Informes diario</a>
            <a asp-action="InformesVentas" asp-route-tipoInforme="2">Ver Informes semanal</a>
            <a asp-action="InformesVentas" asp-route-tipoInforme="3">Ver Informes mensual</a>
        </div>
    </div>


    @section Scripts {
        <script>

        </script>
    }
