@model ToroCreativo.Clases.InformePDF
@{
    Layout = null;
    ViewData["Title"] = TempData["Tipo"];
}
<html>
<head>
    <link rel="stylesheet" href="~/css/informePDF.css">    
</head>
<body>

    <img class="logo" src="~/img/logo.png" />
    <div class="container">
        <h1>@Model.Titulo</h1>
        <div class="informes">
            <div class="diagrama-lineas">
                <img class="lineas" src="~/imgInformes/informe0.png" />
            </div>
            <div class="sub-diagramas">
                <img class="sub-img barras" src="~/imgInformes/informe1.png" />
                <img class="sub-img circular" src="~/imgInformes/informe2.png" />
            </div>

        </div>

    </div>
    <footer>@Model.Titulo, generado el @Model.Fecha a las @Model.Hora</footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $.ajax({
                type: "GET",
                url: "/Informes/EliminarFotos/",
            });          
        });
    </script>


</body>
</html>

