#header {
    background-color: transparent;
}
#header .sub-menu .sign-in a,
#header .sub-menu .sign-up a {
    color: #8531b2;
    border: 1px solid #8531b2;
}
#header .sub-menu .sign-in a:hover,
#header .sub-menu .sign-up a:hover{
    border-color: #8531b2;
    background-color: #8531b2;
    color: #ffffff;    
}
.sub-menu .iconos i {
    color: #8531b2;
}
.sub-menu i:hover {
    background-color: rgb(72 72 72 / 0.13);
}
form .requerido {
    color: #d40b0b;
    margin: 1%;
    font-size: 1rem;
}
.form-group .text-danger{
    font-size: 0.8rem;
}