@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    font-size: 10px;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}
i {
    cursor: pointer;
}
h2, h3, h4, h5, h6{
    font-weight: 300 !important;
}
img {
    width: 100%;
    height: auto;
}
label {
    font-size: 1rem;
}
input:focus {
    box-shadow: none;
    outline: none;
}

table {
    font-size: .9rem;
    text-align: center;    
}

    table thead {
        background-color: rgb(255, 218, 142);
    }

    table .fas {
        color: #000;
        font-size: 1.3rem;
        transition: .5s ease;
    }

        table .fas:hover {
            color: #0000006e;
        }

.container {
    margin-top: 60px;
    margin-left: 60px;
    height: 90vh;
    padding: 20px;
    width: 100%;
}

    .container::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        opacity: 0;
        z-index: -1;
    }

    .container.active {
        overflow: hidden;
    }

        .container.active::after {
            opacity: .5;
            z-index: 1;
        }

.titulo h1 {
    font-size: 2rem;
    font-weight: 300 !important;
    margin-top: 5px;
    margin-left: 20px;
}

.titulo span {
    margin-left: 10px;
    font-size: 1.4rem;
    font-weight: 100;
}

.gestion {
    position: relative;
    width: 100%;
}

.registros {
    width: 90%;
    margin-top: 4%;
    margin-left: 8%;
    padding-bottom: 3rem;
}

.page-item.active .page-link {
    color: #fff;
    background-color: #000;
    border-color: #000;
}
.nav-registros{
    width: 110%;
}
.nav-tabs {
    width: 100%;
    margin-top: 4%;
    border-bottom: 1px solid #818181;
}

    .nav-tabs .nav-item {
        color: #000;
        text-align: center;
        font-size: 1.6em;
        width: 20%;
        padding: 10px 0;
        border-bottom: solid 1px #000;
    }

        .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
            color: #000;
            background-color: #fff;
            border-color: #818181 #818181 #ffffff;
        }
form .requerido {
    color: #d40b0b;
    margin: 1%;
    font-size: 1rem;
}

.form-group .text-danger {
    font-size: 0.8rem;
}
.page-item.active .page-link{
    z-index: 0;
}