@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}
#ilustracion{
    width: 100%;
    height: 100vh;
    display: flex;
    overflow: hidden;
}
#ilustracion .vista{
    width: 50%;
    box-shadow: 0 0 20px 2px rgba(0,0,0,.4);
    z-index: 1;
}
#ilustracion .vista h3{
    text-align: center;
    font-size: 2.6em;
    margin: 70px 0 10px 0;
}
#ilustracion .vista .imagen{
    width: 90%;
    height: 500px;
    margin: 30px auto 0 ;
    text-align: center;
    overflow: hidden;
}
#ilustracion .vista .imagen.imagen-horizontal{
    height: 300px;
    margin: 100px auto 0 ;
}
#ilustracion .vista img{
    width: 90%;
    height: auto;
}
#ilustracion .vista img.ilustracion-horizontal{
    width: 100%;
    height: auto;
}
.vista .boton-detalle{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 150px;
    height: 35px;
}
.vista .boton-detalle button{
    width: 100%;
    height: 100%;
    font-size: 1.5em;
    border: 1px solid #000;
    background-color: rgba(0, 0, 0, 0.815);
    color: #fff;
    cursor: pointer;
    transition: .5s ease;
}
.vista .boton-detalle button:hover{
    background-color: rgba(47, 47, 47, 0.815);
}
#ilustracion .ilustraciones{ 
    background-color: #f5f5f5;   
    width: 50%;
    overflow: auto;

}
#ilustracion .ilustraciones h1{
    font-size: 3em;
    text-transform: uppercase;
    text-align: center;
    margin: 60px 0 30px 0;
    
}
.ilustraciones h2{
    font-size: 1.7em;
    text-align: right;
    margin-right: 30px;
    color: #8d8d8d;
}
.ilustraciones i{
    cursor: pointer;
}
.ilustraciones .generos{
    background-color: #dbdbdb93;
    width: 100%;
	height: 0px;
    display: none;
}
.ilustraciones .generos ul{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;    
    padding: 10px;
    text-align: center;
    margin: 15px;
}
.ilustraciones .generos li{
    list-style: none;
    margin: 10px;
}
.ilustraciones .generos li a{
    text-decoration: none;
    font-size: 1.6em;
    color: #727272;
    transition: .4s ease;
}
.ilustraciones .generos li a:hover{
    font-weight: 600;
    color: #000;
}


.ilustraciones .items{
    width: 90%;
    margin: 0 auto;
}
.ilustraciones .items ul{
    display: grid;
    grid-template-columns: 25% 25% 25% 25% ;    
    padding: 10px;
}
.ilustraciones .items ul .span{
    grid-column: span 2;
}
.ilustraciones .items li{
    box-shadow: 0 0 8px 4px rgba(0,0,0,.1);
    height: 120px;
    margin: 10px;
    overflow: hidden;
    transition: .3s ease;
}
.ilustraciones .items li:hover{
    transform: scale(1.1);
    box-shadow: 0 0 8px 4px rgba(0,0,0,.3);
}
.ilustraciones .items li .vertical{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ilustraciones .items li .horizontal{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.detalle{
    position: absolute;
    width: 48%;
    height: 100%;
    top: 0;
    right: -100%;
    background-color: #f5f5f5;
    z-index: -1;
    opacity: 0;
    transition: .4s opacity, .5s right;
}

.detalle .cerrar{
    position: absolute;
    right: 0;
    font-size: 2.3em;
    margin: 10px 15px;
    cursor: pointer;
    transition: .3s ease;
}
.detalle .cerrar:hover{
    color: #f12323;
}
.detalle .descripcion{    
    display: block;
    width: 95%;
    height: auto;
    max-height: 35%;
    margin: 35px auto 0 auto;
    text-align: center;
    overflow: auto;
    padding-bottom: 15px;
    border-bottom: 1px  solid #474747;
}
.detalle .descripcion p{
    font-size: 1.6em;
    padding: 10px;
}
.detalle .comentarios{
    display: block;
    margin: auto;
    width: 95%;
    height: 65%;    
    overflow: auto;
    background-color: #47474728;
}
.detalle .comentarios::-webkit-scrollbar{
    display: none;
}

.detalle .comentarios .comentarios-item{
    width: 95%;
    margin: 15px auto;
    height: auto;
    display: flex;
}

.detalle .comentarios .perfil{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    
    overflow: hidden;
    margin: 15px 15px 0 0;
}
.detalle .comentarios .perfil img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.detalle .comentarios .comentario{
    width: 90%;
    font-size: 1.4em;
    background-color: #fff;
    padding: 10px 15px;
    border-radius: 15px;
    box-shadow: 0 0 5px 1px rgba(0,0,0,.2);

}
.detalle .comentar{
    width: 95%;
    height: 9%;
    margin: auto;
    padding: 10px;
    background-color: #47474728;
    border-top: 1px solid #474747;

}
.detalle .comentar input{
    width: 90%;
    height: 90%;
    font-size: 1.5em;
    padding: 0 15px;
    border-radius: 10px;
    margin: 0 0px 0 10px;
    border: none;
}
.detalle .comentar input:focus{
    box-shadow: 0 0 5px 2px rgba(0,0,0,.3);
    outline: none;
}
.detalle .comentar i{
    font-size: 2em;
    color: #7c23f1;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: .5s ease;
}
.detalle .comentar i:hover{
    background-color: #7c23f131;
}
.nav-link{
    padding: 0;
}
.nav-pills .nav-link.active, 
.nav-pills .show>.nav-link {
    background-color: transparent;
}

  