.datos-registros {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-gap: 2rem;
    margin: 2rem 1rem 1.5rem 1rem;
}
.registro{
    display: flex;
    justify-content: space-between;
    background-color: #f1f1f1;
    padding: 2rem;
    border-radius: 10px;
}
.dato h2 {
    font-size: 2rem;
    font-weight: 700 !important;
    
}
.dato span{
    font-size: 1rem;
    color: #808080;
}
.icono i {
    font-size: 2.2rem;
    color: #484848;
    cursor: default;
}
.informes{
    width: 110%;
    display: flex;    
}
.informe-barras {
    width: 60%;
    height: 55%;
    padding: 1rem;
}
.informe-barras h3{
    font-size: 0.9rem;
    text-align: center;
    color: #484848;
}
.barras{
    position: relative;
    width: 100%;
    height: 100%;    
}
#barras{
    width: 100%;
    height: 100%;
}
.informe-circular {
    width: 25%;
    padding: 0.5rem;
    margin-left: 10%;

}
.circular {
    position: relative;
    width: 100%;
    height: 100%;
}

#circular {
    width: 100%;
    height: 100%;
}