@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #f6f5f7;
    display: flex;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}

.container {
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 908px;
    height: 550px;
    margin: auto;
    max-width: 100%;
    min-height: 500px;
    display: flex;
    border-radius: 10px;
}

.form-container {
    background-color: #ffffff;
    height: 100%;
    width: 50%;
    overflow: hidden;
    z-index: 1;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 80%;
    text-align: center;
    margin: 25% auto;
}

h1 {
    margin: 0;
    margin-bottom: 30px;
    font-weight: 300;
    font-size: 40px;
}

input {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #000;
    padding: 12px 15px;
    margin: 8px 0;
    width: 70%;
    display: block;
    font-size: 1rem;
    margin: 10px auto;
}

input:focus {
    outline: none;
    border-bottom: 2px solid #5022e9;
}

.text-validation {
    font-size: 10.5px;
    color: #ff0404;
}
a {
    color: #333;
    font-size: 15px;
    text-decoration: none;
    margin: 15px 0;
    transition: .5s;
}
a:hover{
    color: #5022e9;
}
.form-container button {
    background: none;
    border-radius: 20px;
    border: 2px solid #5022e9;
    color: #000;
    margin: 40px auto 0;
    width: 70%;
    cursor: pointer;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    transition: .5s ease;
}

button:hover,
a.ghost:hover {
    transform: scale(1.1);
}

.registro {
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background: linear-gradient(45deg, rgba(80,34,233,1) 0%, rgba(162,144,254,1) 100%);
    height: 100%;
    width: 50%;
    padding: 0 50px;
}

h2 {
    margin: 0;
    margin-bottom: 0px;
    font-weight: 400;
    font-size: 33px;
}

p {
    font-size: 19px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}

.registro a {
    color: #ffffff;
    font-size: 14px;
    text-decoration: none;
    border-radius: 20px;
    border: solid 2px #ffffff;
    font-size: 15px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: transparent;
    text-decoration: none;
    transition: .5s ease;
}
.registro a.ghost:hover {
    color: #000;
    background-color: #fff;
}
