@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}

#header {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
}

    #header .header {
        min-height: 70px;
        transition: .3s ease;
    }

    #header .nav-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        padding: 0 10px;
    }

    #header .nav-list {
        display: flex;
    }

        #header .nav-list ul {
            list-style: none;
            position: absolute;
            background-color: #463b94;
            width: 100vw;
            height: 100vh;
            left: -100%;
            top: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            z-index: 1;
            overflow: hidden;
            transition: .5s ease;
        }

            #header .nav-list ul.active {
                left: 0;
            }

            #header .nav-list ul a {
                font-size: 2.5rem;
                font-weight: 500;
                letter-spacing: .2rem;
                text-decoration: none;
                color: #fff;
                text-transform: uppercase;
                padding: 20px;
                display: block;
            }

                #header .nav-list ul a::after {
                    content: attr(data-after);
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%) scale(0);
                    color: #ffffff2a;
                    font-size: 6.5rem;
                    font-weight: 700;
                    letter-spacing: 50px;
                    z-index: -1;
                    transition: .3s ease;
                }

            #header .nav-list ul li:hover a::after {
                transform: translate(-50%, -50%) scale(1);
                letter-spacing: initial;
            }

            #header .nav-list ul li:hover a {
                color: #faca5b;
            }

    #header .hamburger {
        height: 45px;
        width: 45px;
        display: flex;
        border: 3px solid #463b94;
        border-radius: 50%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 100;
        cursor: pointer;
        transform: scale(.8);
        margin-left: 15px;
        margin-top: 15px;
        margin-bottom: 10px;
        animation: cambiar_color 1.5s ease infinite;
    }

        #header .hamburger.active {
            border: 3px solid #fff;
        }

        #header .hamburger::before {
            content: '';
            position: absolute;
            height: 100%;
            width: 120%;
            top: -105%;
            border-radius: 30%;
            border-bottom: 3px solid #463b94;
        }

        #header .hamburger.active::before {
            border-bottom: 3px solid #fff;
        }

        #header .hamburger .bar {
            height: 2px;
            width: 25px;
            position: relative;
            background-color: #463b94;
            z-index: -1;
        }

        #header .hamburger.active .bar {
            background-color: transparent;
        }

        #header .hamburger .bar::after,
        #header .hamburger .bar::before {
            content: '';
            position: absolute;
            height: 100%;
            width: 100%;
            left: 0;
            background-color: #463b94;
            transition: .5s ease;
            transition-property: top, bottom;
        }

        #header .hamburger .bar::after {
            top: 6px;
        }

        #header .hamburger .bar::before {
            bottom: 6px;
        }

        #header .hamburger.active .bar::after {
            background-color: transparent;
            top: -1%;
            left: 5px;
            width: 15px;
            height: 10px;
            border-radius: 50%;
            border-left: 3px solid #fff;
            border-right: 3px solid #fff;
            border-bottom: 3px solid #fff;
        }

        #header .hamburger.active .bar::before {
            opacity: 0;
        }

    #header .sub-menu {
        position: relative;
        top: 0;
        display: flex;
        width: 10%;
    }

.sub-menu i {
    font-size: 2.5em;
    display: flex;
    padding: 10px;
    border-radius: 50%;
    color: #463b94;
    cursor: pointer;
    transition: .5s ease;
    margin-left: 10px;
}

    .sub-menu i:hover {
        background-color: rgba(100, 100, 100, 0.144);
    }



.box {
    position: absolute;
    width: 350px;
    height: 0px;
    opacity: 0;
    top: 60px;
    right: 2%;
    transition: .3s opacity, 200ms height;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: auto;
    background-color: #fff;
}

    .box h2 {
        font-size: 1.3rem;
        padding: 15px 20px;
        color: #000;
    }

.box-content {
    width: 100%;
    display: flex;
    border-bottom: 1px solid #b9b9b9;
    padding: 15px 5px;
    cursor: pointer;
}

    .box-content.visto {
        background-color: #dbdbdbd7;
        /* background-color:rgb(255, 242, 213); */
    }

    .box-content .link {
        width: 100%;
        display: flex;
        text-decoration: none;
    }

    .box-content:hover {
        background-color: rgba(255, 236, 196);
    }

    .box-content .icon {
        width: 60px;
        height: 60px;
        margin-right: 10px;
        border-radius: 50%;
        font-size: 2rem;
        text-align: center;
        color: #000;
    }

        .box-content .icon i {
            margin: 15px 0;
        }

    .box-content .text {
        width: 70%;
    }

        .box-content .text p {
            font-size: 1.5em;
            color: #333;
        }

            .box-content .text p span {
                color: #000;
                font-weight: 700;
            }

        .box-content .text i {
            display: flex;
        }

.cuenta-box {
    width: 300px;
}

    .cuenta-box .box-content {
        height: 80px;
        padding: 10px 5px;
    }

        .cuenta-box .box-content .cerrar {
            margin-top: 20px;
        }



@media only screen and (min-width: 1200px) {
    #header .nav-list ul {
        width: 30vw;
    }

        #header .nav-list ul a {
            font-size: 2rem;
        }

            #header .nav-list ul a::after {
                font-size: 5rem;
            }
}
