*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body{
    background-color: #efefef;
}
.producto{
    display: flex;   
    width: 95%;
    height: 85vh;
    overflow: hidden;  
    margin-top: 75px;     
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffffab;    
}

.sub-imagenes {
    position: relative;
    margin: auto 0.7% auto 1%;    
    height: 80%;
    width: 10%;           
}
.sub-imagen{
    position: relative;
    width: 100%;
    height: 23%;
    margin: 5% 1%;
    border: 1px solid #0c0c0c;   
    border-radius: 5px; 
    display: block;
    overflow: hidden;
    transition: .3s;
}
.sub-imagen:hover{
    transform: scale(1.03);
}
.sub-img {        
    height: 100%;
    width: 100%;
    object-fit: cover;
    cursor: pointer; 
}
.imagenes {
    position: relative;
    width: 45%;
    height: 90%;  
    margin: auto 0 auto 0 ;
}

.img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    visibility: hidden;
}

.img.active {
    visibility: visible;
}

.informacion{
    width: 45%;
    background-color: #fff;
    z-index: 1;
    padding: 35px 40px;
    box-shadow: 15px 0 35px rgba(0, 0, 0, 1),
    0 -15px 35px rgba(0, 0, 0, 0.1),
    0 15px 35px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}

.nombre{
    padding-bottom: 15px ;  
    width: 100%;    
    word-wrap: break-word;  
}
.nombre h1{
    margin-right: 10px;
    font-size: 2.5rem;
    color: #333;
    line-height: 1;
}

.descripcion{
    padding: 15px 0;
    width: 100%;    
    word-wrap: break-word;
}

.title{
    color: #3a3a3a;
    
    font-size: 1.6rem;
    margin-bottom: 5px;
}
.descripcion p{
    margin-top: 7px;
    color: #555;
    font-size: 17px;
}

.color-container{
    padding: 15px 0;
    width: 100%;    
}


.colores{
    padding: 5px 10px;
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10% ;  
}

.color{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: 10% 5%;
    border: 1px solid #000000;
    cursor: pointer;
    transition: .5s;
}
.color:hover{
    border: 3px solid #6f04e9;
    box-shadow: 0 0 8px 0.5px #6f04e9;
    transform: scale(1.1); 
}
.color.active{
    border: 2px solid #6f04e9;
    box-shadow: 0 0 8px 0.5px #6f04e9;
    transform: scale(1.1);
}

.medidas-container{
    padding: 15px 0;
    margin-bottom: 10px;
    width: 100%;   
}
.seleccionar{
    font-size: 1.5rem;
    color: #797979;
    display: block;
}
.medidas{
    position: relative;
    padding: 8px;
    width: 100%;
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;    
    align-items: center;   
    height: auto;
    word-wrap: break-word;
}

.medida{
    position: relative;   
    border-radius: 6px;
    background-color: #e4e4e4;
    margin: 5%;
    text-align: center;
    line-height: 35px;
    font-size: 1.3rem;    
    cursor: pointer;
    transition: .3s;
}
.medida:hover{
    background-color: #7411e6d8;
    color: #fff;
}
.medida.active{
    background-color: #7411e6d8;
    color: #fff;
}



.nombre, .descripcion, .color-container, .medidas-container, .precio{
    border-bottom: 1px solid #dadada;
}

.precio{
    padding: 15px 0;
}
.precio h4{
    color: #333;
    font-size: 2.8rem;
    font-weight: 300;    
}
.precio h4 small{
    color: #333;
    font-size: 1.5rem;
    font-weight: 300;    
}


.pedido{
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
}
.cantidad{
    display: flex;
    width: 65%;
    height: 35px;    
    align-items: center;
}
.cantidad h5{
    color: #333;
    margin-top:3px;
    font-size: 1.4rem;
    font-weight: 100; 
    margin-right: 5px; 
}
.cantidad input{
    width: 20%;
    height: 75%;
    padding: 5px;
    border: none;
    font-size: 15px;
    text-align: center;    
    margin-right: 5px;
}
.cantidad input[type=number]::-webkit-inner-spin-button {
    opacity: 1
}
.cantidad input[type=number]:focus{
    outline: none;
    border: 1px solid #6f04e9;
}
.cantidad p{
    color: #989898;
    margin-top:8px;
    font-size: 1.3rem;
    font-weight: 100; 
}
.agregar-carrito{    
    padding: 10px 20px;
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: transparent;
    color: #000000;
    letter-spacing: 0.5px;    
    font-size: 15px;
    cursor: pointer;
    transition: .5s;
}

.agregar-carrito:hover{
    border-color:#6f04e9;
    background-color: #6f04e9;
    color: #ffffff;
}

.agregar-carrito i{
    margin-right: 2px;
}

.swal2-popup{
    width:35em;
    font-size:1.6em;
}