@model ToroCreativo.Models.Entities.Precio

@{
    ViewData["Title"] = "Crear";
}

<h2>Crear Precio</h2>
<hr />
<div class="row">
    <div class="col-4">
        <form asp-action="CrearEditar">
            <input type="hidden" asp-for="idProducto" value="@ViewBag.Producto" readonly />
            <div class="form-group">
                <label asp-for="Valor" class="control-label"></label>
                <input asp-for="Valor" class="form-control"  placeholder="Precio del producto"/>
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-8">
                        <button type="submit" class="btn btn-primary btn-block">Guardar</button>
                    </div>
                    <div class="col-4">
                        <a asp-controller="ProductosCategoria" asp-action="DetalleProducto" asp-route-id="@ViewBag.Producto" class="btn btn-secondary btn-block">Volver</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        @if(TempData["Repetido"] != null && TempData["Repetido"].ToString().Equals("si")) {
            <text>

                Swal.fire({
                    icon: 'error',
                    title: 'No se puede crear el precio',
                    html: 'El valor del precio tiene el mismo valor que el precio vigente del producto, por favor ingrese un precio diferente'
                  });

                 </text>
        }
    </script>
}
